In [1]:
import sqlite3

In [2]:
cricket = sqlite3.connect("E:/Projects/DreamTeam/fantasycricket.db")

In [3]:
cur = cricket.cursor()

In [4]:
cur.execute('''
            CREATE TABLE match (
                Player TEXT PRIMARY KEY,
                Scored INTEGER,
                Faced INTEGER,
                Fours INTEGER,
                Sixes INTEGER,
                Bowled INTEGER,
                Maiden INTEGER,
                Given INTEGER,
                Wkts INTEGER,
                Catches INTEGER,
                Stumping INTEGER,
                RO INTEGER
            );
            ''')

In [6]:
cricket.commit()

In [7]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Kohli',102,98,8,2,0,0,0,0,0,0,0);")

In [8]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Yuvraj',12,20,1,0,48,0,36,1,0,0,0);")

In [9]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Rahane',49,75,3,0,0,0,0,0,1,0,0);")

In [10]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Dhawan',32,35,4,0,0,0,0,0,0,0,0);")

In [11]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Dhoni',56,45,3,1,0,0,0,0,3,2,0);")

In [12]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Axar',8,4,2,0,48,2,35,1,0,0,0);")

In [13]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Pandya',42,36,3,3,30,0,25,0,1,0,0);")

In [14]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Jadeja',18,10,1,1,60,3,50,2,1,0,1);")

In [15]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Kedar',65,60,7,0,24,0,24,0,0,0,0);")

In [16]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Ashwin',23,42,3,0,60,2,45,6,0,0,0);")

In [17]:
cricket.commit()

In [18]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Umesh',0,0,0,0,54,0,50,4,1,0,0);")

In [19]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Bumrah',0,0,0,0,60,2,49,1,0,0,0);")

In [20]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Bhuwaneshwar',15,12,2,0,60,1,46,2,0,0,0);")

In [21]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Rohit',46,65,5,1,0,0,0,0,1,0,0);")

In [22]:
cur.execute("INSERT INTO match (Player, Scored, Faced, Fours, Sixes, Bowled, Maiden, Given, Wkts, Catches, Stumping, RO) VALUES ('Kartick',29,42,3,0,0,0,0,0,2,0,1);")

In [24]:
cricket.commit()

In [27]:
cur.execute('''
            CREATE TABLE stats (
                Player TEXT,
                Matches INTEGER,
                Runs INTEGER,
                Centuries INTEGER,
                Half_Centuries INTEGER,
                Value INTEGER,
                Ctg TEXT,
                CONSTRAINT FK_Player FOREIGN KEY(Player) REFERENCES match(Player)
            );
            ''')

In [28]:
cur.execute("PRAGMA FOREIGN_KEYS = ON")

In [29]:
cricket.commit()

In [30]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Kohli', 189,8257,20,43,120,'BAT')")

In [31]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Yuvraj',86,3589,10,21,100,'BAT')")

In [32]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Rahane',158,5435,11,31,100,'BAT')")

In [33]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Dhawan',25,565,2,1,85,'AR')")

In [34]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Dhoni',78,2573,3,19,75,'BAT')")

In [35]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Axar',67,208,0,0,100,'BWL')")

In [36]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Pandya',70,77,0,0,75,'BWL')")

In [37]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Jadeja',16,1,0,0,85,'BWL')")

In [38]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Kedar',111,675,0,1,90,'BWL')")

In [39]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Ashwin',136,1914,0,10,100,'AR')")

In [40]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Umesh',296,9496,10,64,110,'WK')")

In [41]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Bumrah',73,1365,0,8,60,'WK')")

In [42]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Bhuwaneshwar',17,289,0,2,75,'AR')")

In [43]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Rohit',304,8701,14,52,85,'BAT')")

In [44]:
cur.execute("INSERT INTO stats (Player, Matches, Runs, Centuries, Half_Centuries, Value, Ctg) VALUES ('Kartick',11,111,0,0,75,'AR')")

In [45]:
cricket.commit()

In [46]:
cur.execute('''
            CREATE TABLE teams (
                Name TEXT,
                Palyers TEXT,
                Value INTEGER
            );
            ''')

In [47]:
cricket.commit()

In [48]:
cricket.close()